{% extends 'base-backend.html.twig' %}

{% block title %}LivreImage index{% endblock %}

{% block body %}
    <h1>LivreImage index</h1>
    <a href="{{ path('app_admin_livre_image_new') }}" class="btn btn-dark">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre_image in livre_images %}
            <tr>
                <td>{{ livre_image.id }}</td>
                <td>{{ livre_image.nom }}</td>
                <td>{{ livre_image.imageName }}</td>
                <td>{{ livre_image.updatedAt ? livre_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_livre_image_show', {'id': livre_image.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_livre_image_edit', {'id': livre_image.id}) }}" class="btn btn-success ms-2"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun livre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
